<%= link_to('test notification for inactivity in transactions', notify_txn_path, :method => :post) %></li>
<%= link_to('test notification for inactivity in reconciling balances', notify_rec_path, :method => :post) %></li>