@import "bootstrap";

html {
  overflow-y: scroll;
}

body {
	font-family: 'The Girl Next Door', cursive;
	text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

img {
	opacity: 0.7;
}

.navbar-header .navbar-brand {
	font-family: 'Architects Daughter', cursive;
	font-size: 32px;
	color: #3D3D3D;
}

.navbar-right {
	font-size: 18px;
	color: #3D3D3D;
}

.container {
	position: relative;
}

.container .background {
	position: absolute;
	min-height: 500px;
	top: 75px;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: image-url('balance_logo.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0% 100%, center;
	opacity: 0.3;
}

.container .row {
	position: relative;
	z-index: 1;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

.form-control {
	font-family: 'Architects Daughter', cursive;
}

.acct img {
	background-color: #f0ad4e;
	border-radius: 30%;
	text-align: center;
}

#received-option {
	display: none;
}

#transfer-option {
	display: none;
}

table tbody {
	font-family: 'Architects Daughter', cursive;
	font-size: 18px;
	color: #428bca;
}

table thead {
	font-weight: bold;
	font-size: 22px;
}

table #total {
	font-weight: bold;
	color: #5cb85c;
}

table img {
	background-color: #428bca;
	border-radius: 30%;
	text-align: center;
}

.acct-update {
	text-align: left;
	color: #5cb85c;
}

.acct-update img {
	background-color: #5cb85c;
	border-radius: 30%;
	text-align: center;
}